@using Zay_Shop.Areas.Admin.Models.Product
@model ProductUpdateVM

<div class="card shadow mb-4">
    <div class="card-header">
        <h4 class="card-title">Update Product</h4>
    </div>
    <div class="card-body">
        <form method="post" asp-action="Update" asp-controller="Product">
            <div class="form-group">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" class="form-control" placeholder="Enter Title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="form-label">Category</label>
                <select class="w-100 p-1 rounded" asp-for="CategoryId" asp-items="Model.Categories"></select>
            </div>

            <div class="form-group">
                <label asp-for="Size" class="form-label">Size</label>
                <input asp-for="Size" class="form-control" placeholder="Enter Size" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="form-label">Price</label>
                <input asp-for="Price" class="form-control" placeholder="Enter Price" />
            </div>

            <div class="form-group">
                <label asp-for="PhotoPath" class="form-label">Image Path</label>
                <input asp-for="PhotoPath" class="form-control" placeholder="Enter Image Path" />
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn btn-warning btn-lg">Update</button>
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <a class="btn btn-danger btn-lg" asp-action="Index" asp-controller="Product">Back</a>
    </div>
</div>
